* {
    margin: 0;
    padding: 0;
}

#content {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: green;
}

#lhs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: blue;
}